/* LOGUEAR USUARIO */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

/* === BOTONES ELIMINAR Y MODIFICAR === */
.boton-eliminar {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.875rem;
}

.boton-modificar {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.875rem;
}

.boton-eliminar:hover,
.boton-modificar:hover {
    opacity: 0.85;
}

/* === CONTENEDOR DE LA TABLA === */
.contenedor-tabla {
    max-width: 800px;
    margin: 10px auto 2rem auto;
    overflow-x: auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

td.acciones {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* === FONDO POKEBOLA DECORATIVO === */
.fondoPokebola {
    background-image: url('./imagenes/pokebola.png');
    background-size: 300px;
    /*background-repeat: no-repeat;*/
    background-position: top right;
    opacity: 0.05;
    position: fixed;
    top: 100px;
    right: 0;
    width: 300px;
    height: 300px;
    z-index: 0;
    pointer-events: none;
}

/* BOTONES NUEVO POKEMON */
.nuevoPokemon {
    background-color: #ff9900;
    border-color: #ff9900;
    color: white;
}

.nuevoPokemon:hover{
    background-color: #ff9900;
    border-color: #ff9900;
    color: white;
    opacity: 0.85;

}